@model DLL2.Reader

<h2>Видалити читача</h2>

<h3>Ви впевнені, що хочете видалити цього читача?</h3>
<div>
    <h4>Читач:</h4>
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>
        <dt>Ім'я</dt>
        <dd>@Model.Name</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
        <dt>Кількість книг</dt>
        <dd>@Model.GetsBooks.Count</dd>
    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Reader", new { id = Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="submit" value="Видалити" class="btn btn-danger"/>
        </div>
    }
</div>
<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>