@model DLL2.Book

<h2>Деталі книги</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>
        <dt>Назва</dt>
        <dd>@Model.Title</dd>
        <dt>Автор</dt>
        <dd>@Model.Author</dd>
        <dt>Тематика</dt>
        <dd>@Model.Topic</dd>
        <dt>Кількість</dt>
        <dd>@Model.Quantity</dd>
    </dl>
</div>